{{yield}}
{{#if editQuestion}}
  <button class="btn option-btn" {{action 'cancel'}}>Edit Question</button>
  <form class="edit-question-form">
    <div class="form-group">
      {{input class="form-control" value=text placeholder=question.text}}
    </div>
    <div class="form-group">
      {{textarea class="form-control" value=notes placeholder=question.notes}}
    </div>
    <div class="form-group">
      {{input class="form-control" value=author placeholder=question.author}}
    </div>
    <div class="row">
      <div class="col-xs-6">
        <button class="btn submit-btn" {{action 'editQuestionSave' question}}>Submit</button>
      </div>
      <div class="col-xs-6">
        <button class="btn cancel-btn" {{action 'cancel'}}>Cancel</button>
      </div>
    </div>
  </form>
{{else}}
  <button class="btn option-btn" {{action 'questionEditShow'}}>Edit Question</button>
{{/if}}
