{{yield}}

<div class="question-container">
  <h4>{{question.author}} asks:</h4>
  <h3>{{question.text}}</h3>
  <h5>{{question.notes}}</h5>
</div>

{{#each question.answers as |answer|}}
  <div class="answer-container">
    <div class="answer-text-container">
      <p class="answer-text">{{answer.text}}</p>
    </div>
    <p class="answer-author">- {{answer.author}}</p>
  </div>
{{/each}}
