{{yield}}

<div class="question-padder">
  <div class="question-container">
    <div class="row">
      <div class="col-xs-12">
        <h4>{{question.author}} asks:</h4>
        <h3>{{question.text}}</h3>
        <h5>{{question.notes}}</h5>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12">
        {{edit-question question=question editQuestionSave="editQuestionSave"}}
      </div>
    </div>
  </div>
</div>

{{#each question.answers as |answer|}}
  <div class="answer-container row">
    <div class="row">
      <div class="col-xs-2 arrow-container">
        <span class="glyphicon glyphicon-share-alt reply-arrow" aria-hidden="true"></span>
      </div>
      <div class="answer-text-container col-xs-10">
        <p class="answer-text">{{answer.text}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 arrow-container">

      </div>
      <div class="col-xs-10 answer-row">
        <p>- {{answer.author}}</p>
      </div>
    </div>
  </div>
{{/each}}
