{{yield}}

<div class="question-container">
  <div class="row">
    <div class="col-xs-12">
      <h4>{{question.author}} asks:</h4>
      <h3>{{question.text}}</h3>
      <h5>{{question.notes}}</h5>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-6">
      {{edit-question question=question editQuestionSave="editQuestionSave"}}
    </div>
    <div class="col-xs-6">
      <button>Delete</button>
    </div>
  </div>
</div>

{{#each question.answers as |answer|}}
  <div class="answer-container">
    <div class="answer-text-container">
      <p class="answer-text">{{answer.text}}</p>
    </div>
    <p class="answer-author">- {{answer.author}}</p>
  </div>
{{/each}}
