{{outlet}}
<div class="container">
  {{add-question sendQuestion="saveQuestion"}}
  {{#each model.questions as |question|}}
  <div class="question-padder">
    <div class="question-container index-questions">
      <div class="row">
        {{#link-to 'question' question.id}}
        <div class="col-xs-9">
          <h3 class="question-text-link">{{question.text}}</h3>
          <h6 class="question-by-link">Asked by: {{question.author}}</h6>
        </div>
        {{/link-to}}
        <div class="col-xs-3">
          <button class="btn destroy-btn" {{action 'deleteQuestion' question}}>CENSOR</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
